@model List<Lists>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Listeler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>

    <div class="container">
        <form action="ShopLists" method="post">
            <div class="mb-3">
                <label class="form-label">Liste Adı</label>
                <input type="text" class="form-control" name="ListName">
            </div>
            <button type="submit" class="btn btn-primary px-4 float-end mb-4">Ekle</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" >Liste Adı</th>
                    <th scope="col">Liste Durumu</th>
                    <th scope="col" colspan="2">İşlem</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    
                    <tr>
                        <th scope="row">@i</th>
                        <td>@item.ListName </td>
                        @if (item.ListStatus == 0)
                        {
                            <td>Aktif</td>
                        }else if(item.ListStatus == 1)
                        {
                            <td>Pasif</td>
                        }
                        else if (item.ListStatus == 2)
                        {
                            <td>Alışverişe Çıkıldı</td>
                        }
                        else if (item.ListStatus == 3)
                        {
                            <td>Alışveriş Tamamlandı</td>
                        }
						<td> <a href="@Url.Action("Remove","ShopList", item)"><i class="bi bi-trash-fill text-danger"></i></a></td>
                        <td> <a href="@Url.Action("ListDetail","ListDetail",new { Id = item.Id })"><i class="bi bi-info-circle-fill text-info"></i></a> </td>
                    </tr>

                    i++;
                }
               



            </tbody>
        </table>
        @* <button type="button" class="btn btn-success px-4 float-end mt-0" style="font-size: 20px; height: 40px;"><i class="bi bi-plus-square" style="padding-top:5px"></i></button> *@
        
    </div>

    <script>
    </script>

</body>
</html>